.home-container{
    width: 95%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 20px;
    grid-gap:10px;
}
.course-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    /* border-right: 1px solid lightgray; */
    margin-right: 5px;
    margin-left: 50px;
}