.header{
    text-align: center;
}
.logo{
    height: 50px;
}
.header nav {
    background-color: black;
    line-height: 40px;
}
.header nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px 10px;
    font-size: 20px;
}
.header nav a:hover{
    /* background-color: lightgray */
    border-bottom: 5px solid goldenrod;
}
.header-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title h1{
    margin-left: 20px;
}
